table{
    border-collapse: collapse;
    margin: 100px;
    border: 1px solid black;
    width: 400px;
    height: 300px;
}
th{
    height: 50px;
}
td{
    border: 1px solid black;
    height: 200px;
    text-align: center;
}